---
import { Image } from "astro:assets";
import calendar from "../../assets/icons/calendar-white.svg"
import hourglass from "../../assets/icons/hourglass-white.svg"
import level from "../../assets/icons/difficulty-white.svg"
import groupSize from "../../assets/icons/group-size-white.svg"

import type { CollectionEntry } from "astro:content";

import {ISK_to_USD_Rate, ISK_to_EUR_Rate} from "../../constants"



const {tour} = Astro.props

interface Props {
    tour:CollectionEntry<"daytours__FR">
}

---

<article>
    <div class="picWrap">
            <img src={tour.data.cardPicSrc} alt={tour.data.cardPicAlt} title={tour.data.cardPicTitle} loading="lazy" width="400" height="225" class="backImg">
        <div class="picOverlay">
            <div class="tourInfos">
                <div class="tourInfo">
                    <Image src={calendar} alt="calendar icon" title="seasonality" width="30" height="30" class="infoIcon" loading="lazy"></Image>
                    <p class="info">: {tour.data.season}</p>
                </div>
                <div class="tourInfo">
                    <Image src={hourglass} alt="calendar icon" title="duration" width="30" height="30" class="infoIcon" loading="lazy"></Image>
                    <p class="info">: Approx. {tour.data.duration} heures</p>
                </div>
                <div class="tourInfo">
                    <Image src={level} alt="calendar icon" title="difficulty" width="30" height="30" class="infoIcon" loading="lazy"></Image>
                    <p class="info">: {tour.data.difficulty}</p>
                </div>
                <div class="tourInfo">
                    <Image src={groupSize} alt="calendar icon" title="capacity" width="30" height="30" class="infoIcon" loading="lazy"></Image>
                    <p class="info">: {tour.data.capacity} maximum</p>
                </div>
            </div>
        

        </div>

    </div>
    <div class="textInfos">
        <a href={"/fr/excursions-en-islande/"+tour.slug+"/"} title="voir la page" class="tourLink"><h3>{tour.data.cardTitle}</h3>
            <div class="rates">
                <p class="startingFrom">A partir de:</p>
                <p class="rateISK">{tour.data.jeepISK} ISK <span class="vehicle">/véhicule</span></p>
                <p class="approx"><em>Approx. {Math.floor(tour.data.jeepISK / ISK_to_USD_Rate)} $ ou {Math.floor(tour.data.jeepISK / ISK_to_EUR_Rate)} €</em></p>
            </div></a>
            <div class="tags">
                {
                    tour.data.tags.map((tag:any) => (
                    <button><a href={"/fr/excursions-en-islande/"+tag.toLowerCase()+"/"} title={"list of "+tag}>{tag.charAt(0).toUpperCase() + tag.slice(1).replaceAll("d-or", "d'or").replaceAll("ote", "ôte").replaceAll("island", "Island").replaceAll("ecou", "écou").replaceAll("onnee", "onnée").replaceAll("-", " ").replaceAll("vik", "vík")}</a></button>
                    ))
                }
            </div>
    </div>
</article>

<style>

    .tourLink:hover {
        scale: 1.025;
        translate: .3rem 0;
        transition: .3s;
    }

    .tourLink {
        transition: .3s;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: .75rem;

        button {
            padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            background-color: rgba(91, 114, 151, 0.3);;
            font-size: 1rem;
            color: white;
            cursor: pointer;
            transition: .3s;
        }

        button:hover, button:focus {
            filter: brightness(140%);
            translate: 0 -.25rem;
            transition: .3s;

        }

        button:first-child {
            background-color: #5B7297;
        }

        button:first-child:hover, button:first-child:focus {
            filter: brightness(120%);
            transition: .3s;
        }
    }

    a {
        color: white;
    }

    .tourInfos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem

    }

    .tourInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    article {
        background-color: #292929;
        filter: drop-shadow(0 0 0.6rem #000000);
        width: fit-content;
        height: fit-content;
        max-width: 25rem;
        margin: 2rem;
        border-radius: 1rem;
    }

    .backImg {
        display: block;
        min-width: 100%;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
    }


    .picwrap {
        position: relative;
        overflow: hidden;

    }



    .picOverlay {
        position: absolute;
        height: 14.0625rem;
        padding: 1rem;
        background-color: hsla(0, 0%, 16%, 0.80);
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        p {
                font-size: 1rem;
            }
    }
    .backImg:hover + .picOverlay, .picOverlay:hover {
        opacity: 1;
        transition: .5s;
        visibility: visible;
 

    
}
    .textInfos {
        display: flex;
        flex-direction: column;
        padding: .75rem 1rem 1rem 1rem;
    }

    .info::before {
        content: " ";
        white-space: pre
    }



    .infos {
        display: flex;
        width: 100%;
        margin-inline: auto;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    h3 {
        color: white;
        text-decoration: underline;
        font-weight: lighter;
        font-size: 1.75rem;
        margin-bottom: .75rem;
        line-height: 1;
        text-underline-offset: .25rem;
        text-decoration-thickness: .01rem;
    }

    p {
        margin: 0    
    }

    .startingFrom {
        color: rgba(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
    }

    .approx {
        color: rgb(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
    }

    .rateISK {
        color: #A3B9E1;
        font-weight: normal;
        font-size: 1.75rem;
    }

    .rates > p   {
        line-height: 1.2;
    }

    

    .pictoText {
        font-size: .75rem;
        font-weight: lighter;   
    }

    .vehicle {
        color: rgba(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
        }

.info {
    display: inline-flex;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pictoText::before {
    content:" ";
    white-space: pre;
}

@media screen and (max-width:800px) {
    article {
        width: 100%;
        margin: 2rem auto;
    }
}
</style>