---
import tours from "../datas/tours.json"
import pricelist from "../datas/pricelist.json"


import Tourpage from "../layouts/Tourpage__EN.astro";
import "../styles/style.css"
import * as Thing from "../Ititexts/goldenCircleEssentials/thingvellir1__EN.md"
import * as Geysir from "../Ititexts/goldenCircleEssentials/geysir1__EN.md"
import * as Gullfoss from "../Ititexts/goldenCircleEssentials/gullfoss1__EN.md"
import * as Test from "../Ititexts/goldenCircle/test.mdx"


import BookLCCard from "../components/bookCards/BookLCCard__EN.astro";
import BookMOLCard from "../components/bookCards/BookMOLCard__EN.astro";
import BookVClassCard from "../components/bookCards/BookVClassCard__EN.astro";

import BookVClass from "../components/buttons/BookVClass__EN.astro"
import BookToyota from "../components/buttons/BookToyota__EN.astro"
import ReadMore from "../components/buttons/ReadMore__EN.astro";

import TourCards from "../layouts/TourCards.astro";

const itiTextContent = [Thing.compiledContent(), Geysir.compiledContent(), Gullfoss.compiledContent()]
const vanISK = pricelist.GCE.vanISK
const vanEUR = pricelist.GCE.vanEUR
const vanUSD = pricelist.GCE.vanUSD
const capacity = tours.GCE.__EN.body.capacity
const jeepISK = pricelist.GCE.jeepISK
const jeepEUR = pricelist.GCE.jeepEUR
const jeepUSD = pricelist.GCE.jeepUSD


---

<Tourpage 
tourTitle={tours.GCE.__EN.head.tourTitle}
gallery={tours.GCE.__EN.body.gallery} 
pageTitle={tours.GCE.__EN.head.pageTitle} 
linkfr={tours.GCE.__EN.body.linkFr}
srcMobileHeader={tours.GCE.__EN.body.headerCover.srcMobile}
srcPCHeader={tours.GCE.__EN.body.headerCover.srcPC}
altHeader={tours.GCE.__EN.body.headerCover.alt}
titleHeader={tours.GCE.__EN.body.headerCover.title}

tourSeason={tours.GCE.__EN.body.season}
tourDuration={tours.GCE.__EN.body.duration}
tourDifficulty={tours.GCE.__EN.body.difficulty}
tourCapacity={capacity}

ItiSectionTitle={tours.GCE.__EN.body.itiCover.itiTitle}
ItiSectionTitleSrcMobile={tours.GCE.__EN.body.itiCover.itiSrcMobile}
ItiSectionTitleSrcPC={tours.GCE.__EN.body.itiCover.itiSrcPC}
ItiSectionTitleAlt={tours.GCE.__EN.body.itiCover.itiAlt}
ItiSectionTitleTitle={tours.GCE.__EN.body.itiCover.itiTitle}
gtk={tours.GCE.__EN.body.goodToKnow}
wtb={tours.GCE.__EN.body.WhatToBring}
i={tours.GCE.__EN.body.Included}
ni={tours.GCE.__EN.body.nonIncluded}


AllItiItems={tours.GCE.__EN.body.itiItem}

itiTextContent={itiTextContent}









>



<div class="bookButtons" slot="bookButtons">
    <BookVClass></BookVClass>
    <BookToyota></BookToyota>
    <ReadMore></ReadMore>
</div>

<div class="carCards" slot="carCards">

    <BookVClassCard vanISK={vanISK} vanEUR={vanEUR} vanUSD={vanUSD}></BookVClassCard>
    <BookLCCard jeepISK={jeepISK} jeepEUR={jeepEUR} jeepUSD={jeepUSD}></BookLCCard>
    <BookMOLCard></BookMOLCard>



</div>

<div slot="form">
    <iframe data-tally-src="https://tally.so/embed/mRbZKQ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="618" frameborder="0" marginheight="0" marginwidth="0" title="Do you have any questions about the Golden Circle Essentials tour?"></iframe>
    <script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
</div>


</Tourpage>

<TourCards></TourCards>

<style>
        .bookButtons {
        width: 150%;
        display: flex;
        justify-content: space-evenly;
        gap: 1.25rem;
        align-items: center;
        flex-wrap: wrap;
        animation-name: Title;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .carCards {
        width: 100%;
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }



    @media only screen and (max-height: 800px) {
        .bookButtons {
            gap: .75rem;
        }

    }
    </style>

   <!-- <script>Tally.loadEmbeds();</script> -->
