---
import tours from "../datas/tours.json"
import rates from "../datas/pricelist.json"
import TourCards from "../layouts/TourCards.astro"
<<<<<<< HEAD
import RegionTag from "../components/tags/RegionTag.astro"
import TypeTag from "../components/tags/TypeTag.astro"
import * as GCECard from "../cardTexts/golden-circle-essentials.md"
import "../styles/style.css"

const textContentCard = [GCECard.compiledContent()]

=======
import RegionTagButton from "../components/buttons/RegionTagButton.astro"
import TypeTagButton from "../components/buttons/TypeTagButton.astro"
import "../styles/style.css"

>>>>>>> f9594ab1b56a1960b810f44fe638c1b8db873efc
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD

    {
        tours.map((tour) => {

          return (  <TourCards
            cardImageSrc={tour.__EN.body.cardPic.imgSrc}
cardImageAlt={tour.__EN.body.cardPic.imgAlt}
cardImageTitle={tour.__EN.body.cardPic.imgTitle}
cardTitle={tour.__EN.head.tourTitle}
=======
    <TourCards     
cardImageSrc={tours.GCE.__EN.body.cardPic.imgSrc}
cardImageAlt={tours.GCE.__EN.body.cardPic.imgAlt}
cardImageTitle={tours.GCE.__EN.body.cardPic.imgTitle}
cardTitle={tours.GCE.__EN.head.tourTitle}
>>>>>>> f9594ab1b56a1960b810f44fe638c1b8db873efc
jeepISK={rates.GCE.jeepISK}
jeepUSD={rates.GCE.jeepUSD}
jeepEUR={rates.GCE.jeepEUR}
tourSeason={tour.__EN.body.season}
tourDuration={tour.__EN.body.duration}
tourDifficulty={tour.__EN.body.difficulty}
tourCapacity={tour.__EN.body.capacity}>

<div slot="textContentCard" set:html={textContentCard[tours.indexOf(tour)]} class="text">

</div>

<div slot="tags" class="tags">
    <RegionTag tagRegion={tours[0].__EN.body.regionTags.tag}></RegionTag>
    {
        tours[0].__EN.body.typeTags.map((tag) => {
            return (
                <TypeTag tagType={tag.tag}></TypeTag>
            )
        })
    }
</div>
    

            </TourCards>)

        })
    }





    <!--<TourCards     
cardImageSrc={tours[0].__EN.body.cardPic.imgSrc}
cardImageAlt={tours[0].__EN.body.cardPic.imgAlt}
cardImageTitle={tours[0].__EN.body.cardPic.imgTitle}
cardTitle={tours[0].__EN.head.tourTitle}
jeepISK={rates[0].jeepISK}
jeepUSD={rates[0].jeepUSD}
jeepEUR={rates[0].jeepEUR}
tourSeason={tours[0].__EN.body.season}
tourDuration={tours[0].__EN.body.duration}
tourDifficulty={tours[0].__EN.body.difficulty}
tourCapacity={tours[0].__EN.body.capacity}>

<div slot="textContentCard" set:html="">

</div>

<div slot="tags" class="tags">
    <RegionTag tagRegion={tours[0].__EN.body.regionTags.tag}></RegionTag>
    {
        tours[0].__EN.body.typeTags.map((tag) => {
            return (
                <TypeTag tagType={tag.tag}></TypeTag>
            )
        })
    }
</div>



</TourCards> -->
</body>
<style>
    .tags {
        display: inline-flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .text {
        p {
            font-size: .75rem;
        }

        h3 {
            font-size: 1rem;
            color: white;
        }
    }
</style>
</html>


