---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ExcuCards from "../layouts/ExcuCards.astro";
import "../styles/style.css"

import TopBar from "../components/TopBar__EN.astro";

import PicHeader from "../components/Pics/PicHeader.astro";
import FooterEN from "../components/footer__EN.astro";



const excurs__EN: CollectionEntry<"excurs__EN">[] = await getCollection("excurs__EN")

const rvkCult = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "culture")
const rvkHsprings = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "hotS")
const rvkMiniBus = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "bus")
const rvkWw = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "ww")
const rvkAdv = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "adv")
const rvkHeli = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="reykjavik" && excurs.data.filter2 === "heli")

const excuSC = excurs__EN.filter((excurs:any) =>  excurs.data.filter==="sc")






---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Discover luxury private day tours in Iceland. Explore stunning landscapes with exclusive, tailor-made experiences. Book now!">


       <link rel="alternate" hreflang="fr" href="https://www.lilja-tours.com/fr/toutes-nos-excursions/" />
       <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
       <link rel="canonical" href="https://www.lilja-tours.com/things-to-do-iceland/">

        <meta property="og:title" content="Discover all of our private tours">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://www.lilja-tours.com/pictures/excursions/whale-watching-reykjavik-mobile-pc.webp">
        <meta property="og:url" content="https://www.lilja-tours.com/things-to-do-iceland">
        <meta property="og:description" content="Discover Iceland on your own and book excursions with our renowned partners along the way!">

        <meta property="og:locale" content="en_US">
        <meta property="og:locale:alternate" content="fr_FR">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:logo" content="https://www.lilja-tours/logos/Lilja-Tours-Full-Logo.png" />

        <title>Best activities in Iceland | Explore on your own</title>

        <slot name="jsonld"></slot>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16894749666">
</script>
<script is:raw>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16894749666');
</script>

    </head>

    <header class="header">
        <TopBar linkfr="/fr/toutes-nos-excursions"></TopBar>
        <div class="headerContainerPic">
            <PicHeader srcMobile="/pictures/excursions/whale-watching-reykjavik-mobile.webp" srcPC="/pictures/excursions/whale-watching-reykjavik-pc.webp" alt="Picture of stunning waterfalls in desertic landscapes" title="All of our day tours in Iceland"></PicHeader></div>
            <div class="headerGradient"></div>
            <div class="headerInfos">
                <h1>Best Activities in Iceland</h1>
                <h2>Book your excursion with one of our trusted partners and explore on your own</h2>
                <p class="headerP">For those who prefer to explore Iceland independently, we've partnered with some of the most reputable tour operators to bring you the best activities in Iceland and excursions available. At Lilja Tours, we specialize in private experiences rather than self-drive tours. However, our curated selection ensures top-quality experiences at competitive prices, and you can enjoy an extra discount by using our promo code: LILJA5 when booking. Happy exploring!</p>
            </div>
           
        </div>
    </header>

    <main>
        <div class="firstText">
            <h2>Excursions from Reykjavík:</h2>
            <p>All the below excursions offer a departure from Reykjavík. Some of them might require to go to a specific location, while others will offer pickup options. Explore our selection of Whale Watching tours, museums, shows, hot spring admissions and even helicopter tours.</p>
         </div>

         <h3>Helicopter Tours</h3>
         <p>Iceland's breathtaking landscapes, shaped by fiery volcanoes and icy glaciers, become even more spectacular when viewed from the sky. We've handpicked some unforgettable helicopter tours below, but our trusted partners offer many more unique aerial adventures across Iceland. If you don't see exactly what you're looking for, feel free to <a href="mailto: julien@lilja-tours.com" title="send us an email">send us an email</a> for additional options or to arrange your very own private helicopter experience!</p>
         <div class="wrapper">
        {rvkHeli.map((excu:any) => (


        <ExcuCards
excu = {excu}
>

</ExcuCards>
))}

    </div>

         <h3>ATV tours for thrill-seekers</h3>
         <p>Ready to add an adrenaline rush to your Reykjavík itinerary? Hop onto an ATV tour and discover the thrilling landscapes and untamed beauty that surround Iceland's vibrant capital.</p>
         <p>We've partnered with a highly experienced local operator who's been offering exceptional ATV adventures for nearly a decade. Their carefully curated tours cater to all skill levels, and all drivers need is a valid driver's license. Adventure awaits!</p>
         <div class="wrapper">
        {rvkAdv.map((excu:any) => (


        <ExcuCards
excu = {excu}
>

</ExcuCards>
))}

    </div>

         <h3>Day tours: Small Group Tours</h3>
         <p>Want to experience Iceland's stunning landscapes without worrying about driving? Join an affordable small group tour and comfortably explore the country's most breathtaking regions alongside fellow travelers.</p>
         <p>Our carefully selected partner ranks among the top-rated operators on TripAdvisor, consistently praised for their professional guides and modern, well-maintained buses.</p>
         <p>If you're seeking even greater flexibility and a tailored itinerary, check out our extensive selection of <a href="/all-day-tours/" title="List of private tours in Iceland">private tours</a> designed just for you!</p>
         <div class="wrapper">
        {rvkMiniBus.map((excu:any) => (


        <ExcuCards
excu = {excu}
>

</ExcuCards>
))}
       

         <h3>Hot Springs</h3>
         <p>Looking to unwind after a day of exploring Iceland’s rugged beauty? Treat yourself to a soothing soak at one of the country’s world-renowned spas, where relaxation meets breathtaking scenery.</p>
         <p>Regarding the tours listed below, please keep in mind: The Hvammsvík excursion includes transfer, while for Sky Lagoon (located in the suburbs of Reykjavík), transfer needs to be booked separately.</p>
         <div class="wrapper">
        {rvkHsprings.map((excu:any) => (


        <ExcuCards
excu = {excu}
>

</ExcuCards>
))}
         <h3>Cultural Experiences</h3>
         <p>Iceland's breathtaking landscapes and surreal natural beauty are truly mesmerizing. But beyond capturing stunning photos, why not take a moment to dive deeper and learn about the powerful natural forces that shape this magical land?</p>
         <div class="wrapper">
        {rvkCult.map((excu:any) => (


        <ExcuCards
excu = {excu}
>

</ExcuCards>
))}

    </div>
    <h3>Whale Watching Tours</h3>
    <p>Iceland's waters are home to over 20 different species of whales, dolphins, and porpoises. Witnessing these majestic giants in their natural habitat is undoubtedly a bucket list experience.</p>
    <p>We've carefully chosen the most reputable operators to ensure you have the unforgettable opportunity to encounter the planet's largest mammals up close!</p>
    <div class="wrapper">
        {rvkWw.map((excu:any) => (


            <ExcuCards
    excu = {excu}
    >
    
    </ExcuCards>
    ))}

</div>

    <div class="firstText">
        <h2>Excursions in the rest of Iceland:</h2>
        <p>As you are exploring the country and wondering about what to do between two visits of our gorgeous landscapes while far away from the capital area, look no further! We are working with businesses all around the island, take your pick! </p>
     </div>

     <h3>South Coast Activities</h3>
     <p>The South Coast of Iceland is truly a land of contrasts, where mighty glaciers and powerful volcanoes coexist, embodying Iceland's reputation as the Land of Fire and Ice. This region is home to some of the largest glaciers in Europe, offering unforgettable experiences amidst breathtaking natural beauty.</p>
     <p>One of the most popular activities on the South Coast is exploring the glaciers, but keep in mind that ice cave tours are only available during the winter months!</p>
     <p>Beyond glaciers, there's so much more to discover. From exploring lava tunnels to taking a Zodiac boat ride among icebergs (summer only), the South Coast promises endless adventure. For a more personalized experience with expert guidance, take a look at our <a href="/day-tours-iceland/south-coast/" title="list of tours on the south coast">private South Coast tours</a>.</p>
     <div class="wrapper">
    {excuSC.map((excu:any) => (


    <ExcuCards
excu = {excu}
>

</ExcuCards>
))}

</div>


    </main>


<FooterEN></FooterEN>
</body>


</html>

<style>

    main p {
        width: 75%;
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    main a {
        color: white;
    }

h3 {
  color: white;
  font-size: clamp(1.25rem, 3vw, 2.5rem);
  font-weight: lighter;
  width: 75%;
  margin: 3rem auto;
  text-align: left;
}

    .headerP {
        width: 50%;
        margin-inline: auto;
    }

    .firstText {
        width: 75%;
        margin: 2rem auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 1rem;

        p {
            width: 100%;
        }
    }

    main h2 {
        margin-bottom: 3rem;
        width: 100%;
        text-align: center;
        margin-inline: auto;
        font-style: normal;
    }

    h2:not(:first-child) {
        margin-block: 5rem;
    }

   main {
    width: 90%;
    margin-inline: auto;
    padding: 5rem 0;
   }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
  .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5rem;

        }

        h1 {
        color: #FFF;
        text-align: center;
        font-size: clamp(2rem, calc(5vw + 1rem), 4rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: clamp(1.5rem, calc(5vw + 1rem), 2.5rem );
        font-weight: lighter;
        min-width: min-content;
        max-width: max-content;
        text-wrap: balance;
        animation-name: Title;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        font-style: italic;
    }

@keyframes Title {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 800px) {
    main h2 {
        font-size: clamp(1rem, calc(1vw + 1rem), 2rem );
    }

    main p {
        font-size: 1rem;
        width: 95%;
    }

    main h3 {
        width: 95%;
    }

    main {
        padding-block: 2rem;
    }

    .headerInfos {
        gap: 1rem;
    }

    header h2 {
        margin-block: 1rem;
        width: 95%;
    }


    .wrapper {
        width: 95%;
        margin-inline: auto;
    }

    .firstText {
        width: 95%;
    }

    .headerP {
        width: 75%;
        margin-inline: auto;
    }


}

</style>