---
import { Image } from "astro:assets";
import TA from "../assets/images/footer/Icelandic-travel-agency.webp"
import LT from "../assets/images/footer/web_Lilja Tours Noir.webp"
import IFY from "../assets/images/footer/Iceland-for-You-logo.webp"
import WApp from "../assets/images/footer/whatsapp.svg"
import FB from "../assets/images/footer/facebook.svg"
import Ins from "../assets/images/footer/instagram.svg"
import LK from "../assets/images/footer/linkedin.svg"
import email from "../assets/images/footer/email.svg"
import messe from "../assets/images/footer/messager.svg"
---

<footer>

    <main>
        <div class="wrappy">
        <div class="col1">
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?46d49d938b1804870c7621018e3'></script>
                <button class="reviewButton">Laisser un commentaire</button>
            </div>
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?3c72ec23829904983306657eca6'></script>
                

                <button class="reviewButton">Laisser un commentaire</button>
            </div>
        </div>
        <div class="col2">
            <div class="socials">
                <p class="socialTitle">Suivez-nous sur les réseaux sociaux:</p>
                <div class="icons">
                    <a href="https://www.facebook.com/LiljaTours" title="Visitez notre page Facebook"><Image src={FB} alt="Facebook Logo" title="Visitez notre page Facebook" width="45" height="45"></Image></a>
                    <a href="https://www.instagram.com/liljatours/" title="Visitez notre compte instagram"><Image src={Ins} alt="Instagram Logo" title="Visitez notre compte instagram" width="45" height="45"></Image></a>
                    <a href="https://www.linkedin.com/company/lilja-tours/" title="Visitez notre profil LinkedIn"><Image src={LK} alt="LinkedIn Logo" title="Visitez notre profil LinkedIn" width="45" height="45"></Image></a>

                </div>

            </div>
            <div class="socials">
                <p class="socialTitle">Écrivez-nous:</p>
                <div class="icons">
                    <a href="https://wa.me/3547643715" title="Envoyer un WhatsApp"><Image src={WApp} alt="WhatsApp Logo" title="'Ecrivez-nous sur WhatsApp" width="45" height="45"></Image></a>
                    <a href="http://m.me/LiljaTours?text=Hello%20and%20Welcome" title="Écrivez nous sur messenger'"><Image src={messe} alt="Messenger Logo" title="Envoyez nous un message sur Messenger" width="45" height="45"></Image></a>
                    <a href="mailto:julien@lilja-tours.com" title="Envoyez-nous un email"><Image src={email} alt="Email Logo" title="Écrivez-nous par email" width="45" height="45"></Image></a>
                </div>

            </div>

            <Image src={TA} alt="Licence officielle d'agence de voyage" title="Notre licence d'agent de voyage" width="377" height="420" class="TAPic">


        </div>
        <div class="col3">
            <div class="row1">
                <div class="lists">
                    <ul>
                        <li class="listTitle">Excursions:</li>
                        <li><a href="/fr/excursions-en-islande/cercle-d-or" title="Excursions cercle d'or">Cercle d'or</a></li>
                        <li><a href="/fr/excursions-en-islande/cote-sud" title="Excursions Côte Sud">Côte Sud</a></li>
                        <li><a href="/fr/excursions-en-islande/ouest-islande" title="Excursions Ouest Islandais">Ouest Islandais</a></li>
                        <li><a href="/fr/excursions-en-islande/randonnee" title="Excursions randonnée">Randonnées</a></li>
                        <li><a href="/fr/excursions-en-islande/decouverte" title="Excursions découverte">Découverte</a></li>
                        <li><a href="/fr/excursions-en-islande/aventure" title="Excursions aventure">Aventure</a></li>
                        <li><a href="/fr/excursions-en-islande/hautes-terres" title="Excursions hautes terres">Hautes Terres</a></li>
                    </ul>
                    <!--<ul>
                        <li class="listTitle">Multiday Tours:</li>
                        <li>2 days</li>
                        <li>3 days</li>
                        <li>4 and 5 days</li>
                        <li>Ring Road</li>
                    </ul> -->
                    <ul>
                        <li class="listTitle">Liens Utiles:</li>
                        <!--<li>F.A.Q</li> -->
                        <li>CGV</li>
                        <li>Politique de confidentialité</li>
                        <li>A propos</li>
                    </ul>
                    <!--<ul>
                        <li class="listTitle">Blog:</li>
                        <li>Last articles</li>
                    </ul> -->
                </div>
            </div>
            <div class="row2">
                <a href="https://www.lilja-tours.com" title="page d'accueil"><Image src={LT} alt="" width="596" height="426" class="logos" loading="lazy"></Image></a>
                <a href="https://www.icelnd-for-you.com" title="Notre offre groupe"><Image src={IFY} alt="" width="596" height="426" class="logos" loading="lazy"></Image></a>
            </div>
        </div>
        </div>
    </main>
    <aside>
        <p>Lilja Tours ehf. // Kennitala: 480621-0260 // VSK (TVA) Numéro: 141759 // Téléphone: +354 764 3715 // Addresse: Hólabraut 15, 220 Hafnarfjörður // Email: julien@lilja-tours.com</p>
    </aside>

</footer>

<style>

   
.wrappy {
    width: 75%;
    margin-inline: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        color: white;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
    }

.socials {
    margin-bottom: 2rem;
    width: 80%;
    margin-inline: auto;
}
    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-block: 1rem;
        background-color: rgba(255, 255, 255, 0.50);
        flex-wrap: wrap;
    }

    .socialTitle {
        margin: 0;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 1rem 1rem 0 0;
        color: #292929;
        font-weight: normal;
        text-align: center;
        line-height: 2.5;
    }


    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .listTitle {
        list-style-type: none;
        margin-bottom: .75rem;
        color: white;
        font-size: 1.25rem;
    }

    li {
        color: white;
        font-size: 1rem;
    }

    .logos {
        max-height: 13.125rem;
        border-radius: 1rem;
        width: auto;
    }

    .row2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem
    }

    .TAPic {
        margin-inline: auto;
        max-width: 100%;
        border-radius: 1rem;
    }
    main {
        background-color: #5B7297;
        /*display: grid;
        grid-template-columns: .5fr .5fr 1fr;
        gap: 2rem;*/
       
        min-height: 10dvh;
        width: 100%;

    }

    main > * {
        padding: 5rem 3rem;
    }

    aside {
        background-color: #292929;
        border-top: .125rem solid white;
        min-height: 5dvh;
        color: white;
        text-align: center;
    }

    .reviewButton {
        background-color: #292929;
        color: white;
        border: none;
        border-radius: 1000rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        width: max-content;
        cursor: pointer;
        transition: .5s;
    }

    .reviewButton:focus, .reviewButton:hover {
        background-color: white;
        color: #292929;
        transition: .5s;
    }

    .review {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 800px) {
        .wrappy {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 90%
        }        


        .col1, .col2, .col3{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-inline: auto;
        }

        .col3 {
            order: -1;
            width: 80%;
        }

        .col1 {
            order: -1;
        }

        main > * {
            padding: 2rem 1rem;
        }

        .TAPic {
            height: auto;
        }

        .col2 {
            width: 80%;
            margin-inline: auto ;
        }

        .logos {
            width: 80%;
            height: auto;
            margin-inline: auto;
        }

        .row2 {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>