---
import { Image } from "astro:assets";
import TA from "../assets/images/footer/Icelandic-travel-agency.webp"
import LT from "../assets/images/footer/web_Lilja Tours Noir.webp"
import IFY from "../assets/images/footer/Iceland-for-You-logo.webp"
import WApp from "../assets/images/footer/whatsapp.svg"
import FB from "../assets/images/footer/facebook.svg"
import Ins from "../assets/images/footer/instagram.svg"
import LK from "../assets/images/footer/linkedin.svg"
import email from "../assets/images/footer/email.svg"
import messe from "../assets/images/footer/messager.svg"
---

<footer>

    <main>
        <div class="wrappy">

        <div class="col1">
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?46d49d938b1804870c7621018e3'></script>
                <button class="reviewButton">Leave a review</button>
            </div>
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?3c72ec23829904983306657eca6'></script>
                

                <button class="reviewButton">Leave a review</button>
            </div>
        </div>
        <div class="col2">
            <div class="socials">
                <p class="socialTitle">Follow us on social media:</p>
                <div class="icons">
                    <a href="https://www.facebook.com/LiljaTours" title="Visit our Facebook page"><Image src={FB} alt="Facebook Logo" title="Visit our Facebook page" width="45" height="45"></Image></a>
                    <a href="https://www.instagram.com/liljatours/" title="Visit our instagram profile"><Image src={Ins} alt="Instagram Logo" title="Visit our Instagram profile" width="45" height="45"></Image></a>
                    <a href="https://www.linkedin.com/company/lilja-tours/" title="Visit our LinkedIn profile"><Image src={LK} alt="LinkedIn Logo" title="Visit our linkedin profile" width="45" height="45"></Image></a>

                </div>

            </div>
            <div class="socials">
                <p class="socialTitle">Message us:</p>
                <div class="icons">
                    <a href="https://wa.me/3547643715" title="Send us a WhatsApp"><Image src={WApp} alt="WhatsApp Logo" title="Write us on WhatsApp" width="45" height="45"></Image></a>
                    <a href="http://m.me/LiljaTours?text=Hello%20and%20Welcome" title="Send us a message on messenger"><Image src={messe} alt="Messenger Logo" title="Send us a message on Messenger" width="45" height="45"></Image></a>
                    <a href="mailto:julien@lilja-tours.com" title="Send us an email"><Image src={email} alt="Email Logo" title="Send us an email" width="45" height="45"></Image></a>
                </div>

            </div>
            <div class="row2">
                <a href="https://www.lilja-tours.com" title="back to home page"><Image src={LT} alt="logo of Lilja Tours" width="596" height="426" class="logos" loading="lazy"></Image></a>
                <a href="https://www.iceland-for-you.com" title="see our group tours offer"><Image src={IFY} alt="logo of Iceland For You" width="596" height="426" class="logos" loading="lazy"></Image></a>
            </div>


        </div>
        <div class="col3">
            <div class="row1">
                <div class="lists">
                    <ul>
                        <li class="listTitle">Day Tours:</li>
                        <li><a href="/private-day-tours-iceland/golden-circle" title="Golden circle tours"> Golden Circle</a></li>
                        <li><a href="/private-day-tours-iceland/south-coast" title="South Coast Tours"> South Coast</a></li>
                        <li><a href="/private-day-tours-iceland/west-iceland" title="West Iceland"> West Iceland</a></li>
                        <li><a href="/private-day-tours-iceland/hiking" title="Hiking tours"> Hiking tours</a></li>
                        <li><a href="/private-day-tours-iceland/sightseeing" title="Sightseeing tours"> Sightseeing tours</a></li>
                        <li><a href="/private-day-tours-iceland/adventure" title="Adventure tours"> Adventure tours</a></li>
                        <li><a href="/private-day-tours-iceland/highlands" title="Highlands tours"> The Highlands</a></li>
                    </ul>
                    <!--<ul>
                        <li class="listTitle">Multiday Tours:</li>
                        <li>2 days</li>
                        <li>3 days</li>
                        <li>4 and 5 days</li>
                        <li>Ring Road</li>
                    </ul> -->
                    <ul>
                        <li class="listTitle">Useful Links:</li>
                        <!--<li>F.A.Q</li> -->
                        <li>Terms and conditions</li>
                        <li>Privacy policy</li>
                        <li>About us</li>
                    </ul>
                    <!--<ul>
                        <li class="listTitle">Blog:</li>
                        <li>Last articles</li>
                    </ul> -->
                </div>
            </div>
            <Image src={TA} alt="Official travel agent licence" title="Official icelandic travel agency" width="377" height="420" class="TAPic">


        </div>
    </div>
    </main>
    <aside>
        <p>Lilja Tours ehf. // Kennitala: 480621-0260 // VSK (VAT) Number: 141759 // Phone number: +354 764 3715 // Address: Hólabraut 15, 220 Hafnarfjörður // Email: julien@lilja-tours.com</p>
    </aside>

</footer>

<style>

.wrappy {
    width: 75%;
    margin-inline: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    }
    a {
        text-decoration: none;
        color: white;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
    }

.socials {
    margin-bottom: 2rem;
    width: 80%;
    margin-inline: auto;
}
    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-block: 1rem;
        background-color: rgba(255, 255, 255, 0.50);
        flex-wrap: wrap;
    }

    .socialTitle {
        margin: 0;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 1rem 1rem 0 0;
        color: #292929;
        font-weight: normal;
        text-align: center;
        line-height: 2.5;
    }


    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .listTitle {
        list-style-type: none;
        margin-bottom: .75rem;
        color: white;
        font-size: 1.25rem;
    }

    li {
        color: white;
        font-size: 1rem;
    }

    .logos {
        max-height: 13.125rem;
        border-radius: 1rem;
        width: auto;
    }

    .row2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem
    }

    .TAPic {
        margin-inline: auto;
        max-width: 100%;
        border-radius: 1rem;
    }
    main {
        background-color: #5B7297;
        /*display: grid;
        grid-template-columns: .5fr .5fr 1fr;
        gap: 2rem;*/
       
        min-height: 10dvh;
        width: 100%;

    }

    main > * {
        padding: 5rem 3rem;
    }

    aside {
        background-color: #292929;
        border-top: .125rem solid white;
        min-height: 5dvh;
        color: white;
        text-align: center;
    }

    .reviewButton {
        background-color: #292929;
        color: white;
        border: none;
        border-radius: 1000rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        width: max-content;
        cursor: pointer;
        transition: .5s;
    }

    .reviewButton:focus, .reviewButton:hover {
        background-color: white;
        color: #292929;
        transition: .5s;
    }

    .review {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 800px) {
        .wrappy {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 90%
        }        


        .col1, .col2, .col3{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-inline: auto;
        }

        .col3 {
            order: -1;
            width: 80%;
        }

        .col1 {
            order: -1;
        }

        main > * {
            padding: 2rem 1rem;
        }

        .TAPic {
            height: auto;
        }

        .col2 {
            width: 80%;
            margin-inline: auto ;
        }

        .logos {
            width: 80%;
            height: auto;
            margin-inline: auto;
        }

        .row2 {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>