---
import { Image } from "astro:assets";
import TA from "../assets/images/footer/Icelandic-travel-agency.webp"
import LT from "../assets/images/footer/web_Lilja Tours Noir.webp"
import IFY from "../assets/images/footer/Iceland-for-You-logo.webp"
import WApp from "../assets/images/footer/whatsapp.svg"
import FB from "../assets/images/footer/facebook.svg"
import Ins from "../assets/images/footer/instagram.svg"
import LK from "../assets/images/footer/linkedin.svg"
import email from "../assets/images/footer/email.svg"
import messe from "../assets/images/footer/messager.svg"
---

<footer>

    <main>

        <div class="col1">
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?46d49d938b1804870c7621018e3'></script>
                <button class="reviewButton">Leave a review</button>
            </div>
            <div class="review">
                <script defer async src='https://cdn.trustindex.io/loader.js?3c72ec23829904983306657eca6'></script>
                

                <button class="reviewButton">Leave a review</button>
            </div>
        </div>
        <div class="col2">
            <div class="socials">
                <p class="socialTitle">Follow us on social media:</p>
                <div class="icons">
                    <Image src={FB} alt="Facebook Logo" title="Visit our Facebook page" width="45" height="45"></Image>
                    <Image src={Ins} alt="Instagram Logo" title="Visit our Instagram profile" width="45" height="45"></Image>
                    <Image src={LK} alt="LinkedIn Logo" title="Visit our linkedin profile" width="45" height="45"></Image>

                </div>

            </div>
            <div class="socials">
                <p class="socialTitle">Message us:</p>
                <div class="icons">
                    <Image src={WApp} alt="WhatsApp Logo" title="Write us on WhatsApp" width="45" height="45"></Image>
                    <Image src={messe} alt="Messenger Logo" title="Send us a message on Messenger" width="45" height="45"></Image>
                    <Image src={email} alt="Email Logo" title="Send us an email" width="45" height="45"></Image>
                </div>

            </div>


        </div>
        <div class="col3">
            <div class="row1">
                <div class="lists">
                    <ul>
                        <li class="listTitle">Day Tours:</li>
                        <li>Golden Circle</li>
                        <li>South Coast</li>
                        <li>West Iceland</li>
                        <li>Hiking tours</li>
                        <li>Sightseeing tours</li>
                        <li>Adventure tours</li>
                        <li>The Highlands</li>
                    </ul>
                    <ul>
                        <li class="listTitle">Multiday Tours:</li>
                        <li>2 days</li>
                        <li>3 days</li>
                        <li>4 and 5 days</li>
                        <li>Ring Road</li>
                    </ul>
                    <ul>
                        <li class="listTitle">Useful Links:</li>
                        <li>F.A.Q</li>
                        <li>Terms and conditions</li>
                        <li>Privacy policy</li>
                        <li>About us</li>
                    </ul>
                    <ul>
                        <li class="listTitle">Blog:</li>
                        <li>Last articles</li>
                    </ul>
                </div>
            </div>
            <div class="row2">
                <Image src={LT} alt="" width="596" height="426" class="logos" loading="lazy"></Image>
                <Image src={IFY} alt="" width="596" height="426" class="logos" loading="lazy"></Image>
            </div>
        </div>

    </main>
    <aside>
        <p>Lilja Tours ehf. // Kennitala: 480621-0260 // VSK (VAT) Number: 141759 // Phone number: +354 764 3715 // Address: Hólabraut 15, 220 Hafnarfjörður // Email: julien@lilja-tours.com</p>
    </aside>

</footer>

<style>

    .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: max-content;
    }

.socials {
    margin-bottom: 2rem;
    width: 80%;
    margin-inline: auto;
}
    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-block: 1rem;
        background-color: rgba(255, 255, 255, 0.50);
        flex-wrap: wrap;
    }

    .socialTitle {
        margin: 0;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 1rem 1rem 0 0;
        color: #292929;
        font-weight: normal;
        text-align: center;
        line-height: 2.5;
    }


    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .listTitle {
        list-style-type: none;
        margin-bottom: .75rem;
        color: white;
        font-size: 1.25rem;
    }

    li {
        color: white;
        font-size: 1rem;
    }

    .logos {
        max-height: 26.25rem;
        border-radius: 1rem;
        max-width: 80%;
    }

    .row2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem
    }

    .TAPic {
        margin-inline: auto;
        max-width: 100%;
        border-radius: 1rem;
    }
    main {
        background-color: #5B7297;
        /*display: grid;
        grid-template-columns: .5fr .5fr 1fr;
        gap: 2rem;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-height: 95dvh;
    }

    main > * {
        padding: 5rem 1rem;
    }

    aside {
        background-color: #292929;
        border-top: .125rem solid white;
        min-height: 5dvh;
        color: white;
        text-align: center;
    }

    .reviewButton {
        background-color: #292929;
        color: white;
        border: none;
        border-radius: 1000rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        width: max-content;
        cursor: pointer;
        transition: .5s;
    }

    .reviewButton:focus, .reviewButton:hover {
        background-color: white;
        color: #292929;
        transition: .5s;
    }

    .review {
        display: flex;
        margin-inline: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    @media screen and (max-width: 800px) {
        main {
            display: flex;
            flex-direction: column;
            gap: 0
        }        


        .col1, .col2, .col3{
            display: flex;
            flex-direction: column;
            max-width: 100%;
            margin-inline: auto;
        }

        .col3 {
            order: -1;
            width: 80%;
        }

        .col1 {
            order: -1;
        }

        main > * {
            padding: 2rem 1rem;
        }

        .TAPic {
            height: auto;
        }

        .col2 {
            width: 80%;
            margin-inline: auto ;
        }

        .logos {
            width: 80%;
            height: auto;
            margin-inline: auto;
        }

        .row2 {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
</style>