---
import { Image } from "astro:assets";
import BookVClass from "../buttons/BookVClass__EN.astro";

import groupSize from "../../assets/icons/group-size-white.svg"

const {vanISK, vanEUR, vanUSD, jeepISK, jeepEUR, jeepUSD, capacity} = Astro.props
---

<article>
    <div class="pic">

        <picture>
            <source media="(max-width:1000px)" srcset="/pictures/cars/Mercedes-VClass-Mobile.webp" width="600" height="338">
            <img src="/pictures/cars/Mercedes-VClass-PC.webp" alt="Picture of a blue Mercedes V-Class" title="Book with the V-Class" class="carPic" width="960" height="540" loading="lazy">
        </picture>


    </div>

    <div class="textAndButton">

        <div class="text">
            <h3>Mercedes V-Class</h3>

                <div class="tourInfo">
                        <Image src={groupSize} alt="calendar icon" title="seasonality" width="30" height="30" class="infoIcon" loading="lazy"></Image>
                        <p class="info">: {capacity} maximum</p>
                </div>

            <p class="rate"><span class="price">{vanISK} ISK</span><span class="perVehicle">/ per vehicle</span></p>
            <p class="otherCurrencies"><em>Approx. {vanUSD} $ or {vanEUR} € </em></p>
        </div>

        <BookVClass></BookVClass>

    </div>
</article>

<style>
        .tourInfo {
        display: flex;
        justify-content: space-between;
        width: max-content;
        align-items: center;
    }
</style>

