---
import type { CollectionEntry } from "astro:content";





const {blog} = Astro.props

interface Props {
    blog:CollectionEntry<"blog__EN">
}

---

<article>
    <div class="picWrap">
            <img src={blog.data.cardImgSrc} alt={blog.data.cardImgAlt} title={blog.data.cardImgTitle} loading="lazy" width="400" height="225" class="backImg">
    </div>
    <div class="textInfos">
        <a href={"/blog/"+blog.slug+"/"} title="see the blog article" class="tourLink"><h3>{blog.data.cardArticleTitle}</h3></a>

        <p>{blog.data.cardArticleSumup}</p>

            <div class="tags">
                {
                    blog.data.tags.map((tag:any) => (
                        
                        <div class="tagDiv">{tag}</div>
                    ))
                }
            </div>
    </div>
</article>

<style>
     .tourLink:hover {
        scale: 1.025;
        translate: .3rem 0;
        transition: .3s;
    }

    .tourLink {
        transition: .3s;
    }


    .tags {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: .75rem;

        .tagDiv {
            padding: .2rem .75rem;
            border-radius: 9999px;
            border: none;
            background-color: rgba(91, 114, 151, 0.3);
            font-size: 1rem;
            color: white;
            transition: .3s;
        }
    }



    .tourInfos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem

    }

    .tourInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    article {
        background-color: #292929;
        filter: drop-shadow(0 0 0.6rem #000000);
        width: fit-content;
        height: fit-content;
        max-width: 25rem;
        margin: 2rem;
        border-radius: 1rem;
    }

    .backImg {
        display: block;
        min-width: 100%;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
    }


    .picwrap {
        position: relative;
        overflow: hidden;

    }



    .picOverlay {
        position: absolute;
        height: 14.0625rem;
        padding: 1rem;
        background-color: hsla(0, 0%, 16%, 0.80);
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        

        p {
                font-size: 1rem;
            }
    }
    .backImg:hover + .picOverlay, .picOverlay:hover {
        opacity: 1;
        transition: .5s;
        visibility: visible;
 

    
}
    .textInfos {
        display: flex;
        flex-direction: column;
        padding: .75rem 1rem 1rem 1rem;
    }

    .info::before {
        content: " ";
        white-space: pre
    }



    .infos {
        display: flex;
        width: 100%;
        margin-inline: auto;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
    }

    h3 {
        color: white;
        text-decoration: underline;
        font-weight: lighter;
        font-size: 1.75rem;
        margin-bottom: .75rem;
        line-height: 1;
        text-underline-offset: .25rem;
        text-decoration-thickness: .01rem;
    }

    p {
        margin: 0    
    }

    .startingFrom {
        color: rgba(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
    }

    .approx {
        color: rgb(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
    }

    .rateISK {
        color: #A3B9E1;
        font-weight: normal;
        font-size: 1.75rem;
    }

    .rates > p   {
        line-height: 1.2;
    }

    

    .pictoText {
        font-size: .75rem;
        font-weight: lighter;   
    }

    .vehicle {
        color: rgba(255, 255, 255, 0.6);
        font-size: .75rem;
        font-weight: lighter;
        }

.info {
    display: inline-flex;
    text-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pictoText::before {
    content:" ";
    white-space: pre;
}

@media screen and (max-width:800px) {
    article {
        width: 100%;
        margin: 2rem auto;
    }
}
</style>