---
const {
language, 
metaDescription, 
ogTitle, 
ogImage, 
ogURL, 
ogDescription, 
ogLocale, 
ogLocaleAlt,
pageTitle,
linkfr,
srcMobileHeader,
srcPCHeader,
altHeader,
titleHeader,
tourSeason,
tourDuration,
tourDifficulty,
tourCapacity,
vclassdisplay,
toyotadisplay,
ItiSectionTitle,
ItiSectionTitleSrcMobile,
ItiSectionTitleSrcPC,
ItiSectionTitleAlt,
ItiSectionTitleTitle,
AllItiItems,
itiTextContent,
gtk,
wtb,
i,
ni,
gallery,
tourTitle
} = Astro.props

import TopBar from "../components/TopBar__EN.astro"
import PicHeader from "../components/Pics/PicHeader.astro"
import HeaderInfos from "../layouts/HeaderInfos__EN.astro"
import ItiSection from "./ItiSection__EN.astro"
import InternalNav from "../components/InternalNav__EN.astro"
import InfoSection from "./InfoSection__EN.astro"
import GallerySection from "./GallerySection.astro"
import BookSection from "./BookSection__EN.astro"
import FormSection from "./FormSection.astro"
---
<!doctype html>
<html lang={language}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content={metaDescription}
        />

        <meta property="og:title" content={ogTitle}>
        <meta property="og:type" content="website">
        <meta property="og:image" content={ogImage}>
        <meta property="og:url" content={ogURL}>
        <meta property="og:description" content={ogDescription}>

        <meta property="og:locale" content={ogLocale}>
        <meta property="og:locale:alternate" content={ogLocaleAlt}>
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:logo" content="/logos/Lilja-Tours-Full-Logo.png" />

        <title>{pageTitle}</title>

        <slot name="jsonld"></slot>

        <!--<script src="https://tally.so/widgets/embed.js"></script> -->
    </head>
    <body>
        <header class="header">
            <TopBar linkfr={linkfr}></TopBar>
            <div class="headerContainerPic">
                <PicHeader srcMobile={srcMobileHeader} srcPC={srcPCHeader} alt={altHeader} title={titleHeader}></PicHeader></div>
                <div class="headerGradient"></div>
                <div class="headerInfos">
                    <HeaderInfos
                    tourTitle={tourTitle}
                    season={tourSeason}
                    duration={tourDuration}
                    difficulty={tourDifficulty}
                    capacity={tourCapacity}
                    vclassdisplay={vclassdisplay}
                    toyotadisplay={toyotadisplay}
                    >
                
                    <slot name="bookButtons" slot="bookButtons"></slot>
                
                </HeaderInfos>
                </div>
            </div>
        </header>

        <main>
            <ItiSection
            ItiSectionTitle={ItiSectionTitle}
            ItiSectionTitleSrcMobile={ItiSectionTitleSrcMobile}
            ItiSectionTitleSrcPC={ItiSectionTitleSrcPC}
            ItiSectionTitleAlt={ItiSectionTitleAlt}
            ItiSectionTitleTitle={ItiSectionTitleTitle}
            AllItiItems={AllItiItems}
            itiTextContent={itiTextContent}
            ></ItiSection>

            <InfoSection
            gtk={gtk}
            wtb={wtb}
            i={i}
            ni={ni}
            
            ></InfoSection>

            <GallerySection 
            gallery={gallery}>
            </GallerySection>

            <BookSection tourTitle={tourTitle}>
                <slot slot="carCards" name="carCards"></slot>
            </BookSection>

            <FormSection>
                <slot slot="form" name="form"></slot>
            </FormSection>


            <InternalNav bookOrQuote="BOOK"></InternalNav>

        </main>

    
    </body>

    <style>

        .header {
            min-height: 100dvh;
            width: 100%;
        }

        .headerContainerPic {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: relative;
        }

        .headerGradient {
            width: 100%;
            min-height: calc(100dvh - 3.5rem);
            max-height: calc(100dvh - 3.5rem);
            position: absolute;
            top: 3.5rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0.00) 99.06%);
        }

        .headerInfos {
            position: absolute;
            inset: 3.5rem 0 0 0;
            display: flex;
            height:  calc(100dvh - 3.5rem);
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            align-content: center;

        }


    </style>

    <!--<body>

        	{
                gallery.map((pics) => {
                    return (
                        <PicGallery
                        src={pics.src}
                        alt={pics.alt}
                        title={pics.title}  
                        />                     
                    )
                })
            }
        
    </body> -->
